

{%- style -%}
  .m-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px; 
    padding-bottom : {{ section.settings.padding_bottom }}px;
    background-color: {{ section.settings.background_color }};
  }
{%- endstyle -%}

<div class="ice_cooling-box m-section-{{ section.id }}">
  <div class="ice_cooling-wrapper">
    <div class="container">
      <div class="ice_cooling-header">
        <div class="header_sub text-center">{{ section.settings.subheader_text }}</div>
        <h3 class="title">{{ section.settings.header_text }}</h3>
      </div>
      <div class="swiper ice_cooling-slider">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
          <div class="swiper-slide ice_cooling-li card">
            <div class="ice_tle-1">{{ block.settings.title }}</div>
            <div class="ice_tle-2">{{ block.settings.subtitle }}</div>
            <div class="ice-img">
              <img
                loading="lazy"
                alt="{{ block.settings.image_alt }}"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad" data-src="{{ block.settings.image | img_url: 'master' }}"
              />
            </div>
            <div class="ice_txt-1">{{ block.settings.description }}</div>
            <div class="ice_txt-2">{{ block.settings.footer_text }}</div>
          </div>
          {% endfor %}
        </div>
        <!-- Add Pagination and Navigation -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</div>

<style>
  .ice_cooling-header h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  .swiper {
    padding: 20px 0;
  }
  
.ice_cooling-box .card {
    height: 610px;
}
  
  .ice_cooling-li .ice-img img {
    width: 100%;
    height: 376px !important;
    object-fit: cover;
  }
  .ice_txt-1,
  .ice_txt-2 {
    margin-top: 10px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #333;
  }

  .ice_cooling-box .title {
    font-family: Jost;
    font-size: 36px;
    color: #333333;
    font-weight: 700;
    margin-bottom: 25px;
  }

  .ice_tle-1 {
    font-weight: 700;
    font-size: 24px;
  }
</style>



<script type="lazyload_int">
  document.addEventListener('DOMContentLoaded', function () {
    var swiper = new Swiper('.ice_cooling-slider', {

      spaceBetween: 20,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
      breakpoints: {
        768: {
          slidesPerView: 1,
        },
        1200: {
         slidesPerView: 3,
        }
      },
    });
  });
</script>

{% schema %}
{
  "name": "Custom Benefits version 1",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "text",
      "id": "subheader_text",
      "label": "Subheader Text",
      "default": "SAPPHIRE ICE-COOLING"
    },
    {
      "type": "text",
      "id": "header_text",
      "label": "Header Text",
      "default": "The benefits of patented Sapphire Ice-cooling technology"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Cooling Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Ulike IPL epilator"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "WITH SAPPHIRE ICE-COOLING TECHNOLOGY"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "image_alt",
          "label": "Image Alt Text",
          "default": "Ulike IPL epilator with sapphire ice cooling technology"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "Protection of the epidermis by cooling. Perfect adhesion of the system to the skin..."
        },
        {
          "type": "text",
          "id": "footer_text",
          "label": "Footer Text",
          "default": "Effective and safe hair removal"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Benefits version 1",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
