<style>.m-hero-section .container-full{padding-left:0;padding-right:0}.m-hero{display:block;position:relative;width:100%;overflow:hidden}.m-hero__bg{position:relative}.m-hero__bg img{width:100%;height:100%;object-fit:cover}.m-hero__parallax{background-attachment:fixed;background-repeat:no-repeat;background-position:center;background-size:cover;pointer-events:none}.m-hero.m-hero--adapt .m-hero__bg{height:100%}.m-hero:not(.m-hero--adapt).m-hero--small .m-hero__bg{height:290px}.m-hero:not(.m-hero--adapt).m-hero--medium .m-hero__bg{height:360px}.m-hero:not(.m-hero--adapt).m-hero--large .m-hero__bg{height:420px}.m-hero:not(.m-hero--adapt).m-hero--fullscreen .m-hero__bg{height:100vh}@media screen and (min-width: 768px){.m-hero:not(.m-hero--adapt).m-hero--small .m-hero__bg{height:420px}.m-hero:not(.m-hero--adapt).m-hero--medium .m-hero__bg{height:560px}.m-hero:not(.m-hero--adapt).m-hero--large .m-hero__bg{height:720px}.m-hero:not(.m-hero--adapt).m-hero--fullscreen .m-hero__bg{height:100vh}}.m-hero--has-overlay:before{content:"";position:absolute;top:0;right:0;bottom:0;left:0;z-index:1;background-color:var(--color-image-overlay);opacity:var(--opacity-image-overlay)}@media screen and (max-width: 767px){.m-hero--has-overlay.m-hero__mobile-no-overlay:before{display:none}}.m-hero__inner{display:flex;position:absolute;top:0;right:0;bottom:0;left:0;z-index:1;padding-top:40px;padding-bottom:40px}@media screen and (min-width: 768px){.m-hero__inner{padding-top:60px;padding-bottom:60px}}@media screen and (min-width: 1280px){.m-hero__inner{padding-top:100px;padding-bottom:100px}}.m-hero__inner[class*=--top-]{align-items:flex-start}.m-hero__inner[class*=--bottom-]{align-items:flex-end}.m-hero__inner--top-center,.m-hero__inner--bottom-center,.m-hero__inner--middle-center{justify-content:center}.m-hero__inner--top-left,.m-hero__inner--bottom-left,.m-hero__inner--middle-left{justify-content:flex-start}.m-hero__inner--top-right,.m-hero__inner--bottom-right,.m-hero__inner--middle-right{justify-content:flex-end}.m-hero__inner .m-button.m-button--secondary,.m-hero__inner .m-button.m-button--link{border-color:var(--content-color);color:var(--content-color)}.m-hero__content{width:max-content}@media screen and (min-width: 768px){.m-hero__content{max-width:600px}}.m-hero__content p{margin-top:0}.m-hero__title,.m-hero__subtitle{padding-left:0;padding-right:0;display:block}.m-hero__title{margin-bottom:24px}@media screen and (max-width: 767px){.m-hero__title{margin-bottom:12px}}.m-hero__subtitle{margin-bottom:16px}@media screen and (max-width: 767px){.m-hero__subtitle{margin-bottom:8px}}.m-hero__text{margin-bottom:24px}@media screen and (max-width: 767px){.m-hero__text{margin-bottom:16px}}.m-hero__btn{display:inline-block}@media screen and (max-width: 767px){.m-hero__content br{display:none}.m-hero__content .m-hero__btn .sf__btn:not(.m-button--link){padding-top:7px;padding-bottom:7px}.m-hero--large .m-hero__inner,.m-hero--fullscreen .m-hero__inner{padding-top:80px;padding-bottom:80px}.m-hero--content-stack{overflow:visible;margin-bottom:40px}.m-hero--content-stack .m-hero__inner{position:relative!important;z-index:2;padding-top:32px;padding-bottom:0;display:block}.m-hero--content-stack .m-hero__content{width:100%}.m-hero--content-stack .m-hero__title,.m-hero--content-stack .m-hero__subtitle,.m-hero--content-stack .m-hero__text{color:rgba(var(--text-black),1)}.m-hero--content-stack.m-hero--has-overlay:before{display:none}.m-hero--content-stack .m-button--white{background-color:var(--color-btn-bg, var(--color-primary));border-color:var(--color-btn-bg, var(--color-primary));color:var(--color-btn-text, #fff)}}.m-hero--has-link .m-hero__inner{pointer-events:none;z-index:7}.m-hero--has-link .m-hero__btn{pointer-events:auto}.m-video__bg{display:block;max-width:100%;position:absolute;top:0;left:0;height:100%;width:100%;overflow:hidden;pointer-events:none}.m-video__bg iframe,.m-video__bg video{display:block;position:absolute;width:300%;height:100%;left:-100%;top:0;max-width:none;border:none}.m-hero__inner{align-items:center}.m-hero__subtitle{text-transform:uppercase}@media screen (max-width: 639px){.m-video__bg iframe,.m-video__bg video{left:auto;width:100%;height:300%;top:-100%}}@media (min-width: 768px){.md-m-hidden{display:none!important}}@media (max-width: 768px){.md-m-hidden{display:block!important}.md-m-block{display:none!important}.m-hero__content{text-align:center}span.m-hero__subtitle.h6{text-transform:uppercase}.m-hero__content{text-align:center!important}.white{color:#000!important}.card{background-color:#fff;padding:20px;margin-bottom:20px;box-shadow:0 2px 5px #0000001a;text-align:center;height:670px}}@media (min-width: 900px) and (max-width: 1399px){.white{color:#fff!important}.card{background-color:#fff;padding:20px;margin-bottom:20px;box-shadow:0 2px 5px #0000001a;text-align:center;height:700px}}@media (min-width: 1400px){.m-hero__inner.m-hero__inner--middle-left.container-fluid,div#m-hero-template--17844050002072__image_with_text_banner_pjJaAq .m-hero__inner.m-hero__inner--middle-center.container-fluid{padding-left:200px}.m-hero__inner.m-hero__inner--middle-right.container-fluid{padding-right:100px}h2.h2{font-size:42px}.dark{color:#000!important}.white{color:#fff!important}.card{background-color:#fff;padding:20px;margin-bottom:20px;box-shadow:0 2px 5px #0000001a;text-align:center;height:700px}}@media screen and (min-width: 768px){div#shopify-section-template--17848756863128__image_with_text_banner_BXemKp .m-hero__content{max-width:388px}}@media (min-width: 1400px){ h1.h2 { font-size: 42px; } } @media(min-width:768px){ h1.h2{ font-family: "Font-1726638974935" !important; line-height: 60px !important; } }</style>
{{ 'hero.css' | asset_url | stylesheet_tag }}

{% liquid
  assign show_overlay = section.settings.show_overlay
  assign parallax = section.settings.parallax

  if section.settings.hero_size == 'adapt'
    assign min_aspect_ratio = section.settings.image.aspect_ratio | default: 2.333
    assign aspect_ratio_mobile = section.settings.mb_image.aspect_ratio | default: min_aspect_ratio
  endif

  assign content_positions = section.settings.content_position | split: ' '
  assign text_horizontal_alignment = content_positions.first
  assign text_vertical_alignment = content_positions.last | strip
  assign text_size = section.settings.text_size
  assign image_link = section.settings.image_link

  assign content_container = 'container-fluid'
  if section.settings.content_in_container == true
    assign content_container = 'container'
  endif

  assign mb_image = section.settings.image
  if section.settings.mb_image != blank
    assign mb_image = section.settings.mb_image
  endif

  assign animation_effect = settings.animations
  assign animated = false
  if animation_effect != 'none'
    assign animated = true
    if section.settings.animations != 'inherit'
      assign animation_effect = section.settings.animations
    endif
  endif

  assign container = section.settings.container
  if container == 'w-full'
    assign container = 'container-full'
  endif

  assign sub_text_size = 'h6'
  assign heading_text_size = 'h2'
  if text_size == 'large'
    assign sub_text_size = 'h5'
    assign heading_text_size = 'h1'
  endif
%}

{%- capture main_classes -%}
m-hero m-hero--text-{{ section.settings.text_color }} m-hero--{{ section.settings.hero_size }}
{% if image_link != blank %} m-hero--has-link{% endif %}
{% if section.settings.mb_image != blank %} m-hero__mobile-no-overlay{% endif %}
{% if show_overlay %} m-hero--has-overlay{% endif %}
{% unless section.settings.use_content_above %} m-hero--content-stack{% endunless %}
{% if animated and section.settings.enable_bg_zoom_effect %} m:overflow-hidden m-scroll-trigger animate--zoom-fade{% endif %}
{%- endcapture -%}







<section id="m-hero-section-{{ section.id }}" class="m-section m-hero-section {{ section.settings.custom_class }}" data-section-type="hero" data-section-id="{{ section.id }}">
  <div class="{{ container }}" style="--content-color: {{ section.settings.text_color }};">
    <div  id="m-hero-{{ section.id }}" class="{{ main_classes | strip_newlines }}">
      {% unless section.settings.image != blank %}
        <div class="m-hero__bg m-image m-hidden md-m-block m:overflow-hidden mobile-hero-banner">
          {{ 'lifestyle-2' | placeholder_svg_tag: 'm-placeholder-svg m:w-full m:h-full' }}
        </div>
      {% else %}
        {% if parallax %}
          <div
            class="m-hero__bg m-hero__parallax m-hidden md-m-block"
            style="background-position: {{ section.settings.bg_position | default: 'center' }};{% if section.settings.hero_size == 'adapt' %}--aspect-ratio: {{ min_aspect_ratio }};{% endif %}"
            data-src="{{ section.settings.image | image_url }}"></div>
        {% else %}
          {%- liquid
            assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio | round
            assign lazy_load = 'eager'
            unless forloop.first
              assign lazy_load = 'lazy'
            endunless
          -%}
          <div 
            class="m-hero__bg m-image m-hidden md-m-block m:overflow-hidden"
            {% if section.settings.hero_size == 'adapt' %}
            style="--aspect-ratio: {{ min_aspect_ratio }};"
            {% endif %}
          >            
            {{ section.settings.image | image_url: width: 3840 | image_tag:
              loading: lazy_load,
              width: section.settings.image.width,
              height: image_height,
              sizes: '100vw',
              widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
              alt: section.settings.image.alt | escape
            }}            
          </div>
        {% endif %}
      {% endunless %}
      {% if image_link != blank %}
        <a href="{{ image_link }}" class="m-hidden-link"></a>
      {% endif %}
      {% if mb_image == blank %}
        <div class="m-hero__bg m-image m-block md-m-hidden m:overflow-hidden ">
          {{ 'lifestyle-2' | placeholder_svg_tag: 'm-placeholder-svg m:w-full m:h-full' }}
        </div>
      {% else %}
        <div 
          class="m-hero__bg m-image m-block md-m-hidden"
          {% if section.settings.hero_size == 'adapt' %}
            style="--aspect-ratio: {{ aspect_ratio_mobile }};"
          {% endif %}
        >
          {%- liquid
            assign image_height = mb_image.width | divided_by: mb_image.aspect_ratio | round
            assign lazy_load = 'eager'
            unless forloop.first
              assign lazy_load = 'lazy'
            endunless
          -%}
          {{ mb_image | image_url: width: 1100 | image_tag:
            loading: lazy_load,
            width: mb_image.width,
            height: image_height,
            sizes: '100vw',
            widths: '375, 550, 750, 1100',
            alt: mb_image.alt | escape
          }}
        </div>
      {% endif %}

      <div class="m-hero__inner m-hero__inner--{{ text_vertical_alignment }}-{{ text_horizontal_alignment }} {{ content_container }} ">
        <div class="m-hero__content   {% if section.settings.d-text_alignment == "left" %} text-left {% elsif section.settings.d-text_alignment == "center" %} text-center {% elsif section.settings.d-text_alignment == "right" %}text-right  
        {% endif %} ">
          {% if section.settings.subtitle != blank %}
            <span class="m-hero__subtitle {% if section.settings.d-text-color == "dark" %} dark 
       {% elsif section.settings.d-text-color == "white" %} white 
      {% endif %}">{{ section.settings.subtitle }}</span>
          {% endif %}
          {% if section.settings.title != blank %}
            {% if canonical_url contains '/ipl-guide' or canonical_url contains '/result-review' or canonical_url contains '/return-and-refund-policy' %}
              <h1 class="h2 {% if section.settings.d-text-color == "dark" %} dark 
               {% elsif section.settings.d-text-color == "white" %} white 
              {% endif %}" >{{ section.settings.title }}</h1>
            {% else %}
              <h2 class="h2 {% if section.settings.d-text-color == "dark" %} dark 
               {% elsif section.settings.d-text-color == "white" %} white 
              {% endif %}" >{{ section.settings.title }}</h2>
            {% endif %}
          {% endif %}
          {% if section.settings.text != blank %}
            <div class="m-hero__text {% if section.settings.d-text-color == "dark" %} dark 
       {% elsif section.settings.d-text-color == "white" %} white 
      {% endif %}">{{ section.settings.text }}</div>
          {% endif %}
          {% if section.settings.button_label != blank %}
            <div class="m-hero__btn{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">
              <a href="{{ section.settings.button_link }}" class="button-main1 {{ section.settings.button_size }}">{{ section.settings.button_label }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>






{% schema %}
{
  "name": "Image with text overlay",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Container type",
      "default": "w-full",
      "options": [
        {
          "value": "container-fluid",
          "label": "Default"
        },
        {
          "value": "w-full",
          "label": "Full width"
        },
        {
          "value": "container",
          "label": "Use container box"
        }
      ]
    },
    {
      "type": "select",
      "id": "hero_size",
      "label": "Section height",
      "default": "adapt",
      "options": [
        {
          "label": "Adapt to image",
          "value": "adapt"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Full-screen",
          "value": "fullscreen"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_overlay",
      "label": "Show overlay",
      "default": true
    },
    {
      "type": "header",
      "content": "Background settings"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "bg_position",
      "label": "Image alignment",
      "default": "center",
      "info": "Only work if Parallax effect is enabled.",
      "options": [
        {
          "label": "Top left",
          "value": "left top"
        },
        {
          "label": "Top center",
          "value": "center top"
        },
        {
          "label": "Top right",
          "value": "right top"
        },
        {
          "label": "Middle left",
          "value": "left center"
        },
        {
          "label": "Middle center",
          "value": "center"
        },
        {
          "label": "Middle right",
          "value": "right center"
        },
        {
          "label": "Bottom left",
          "value": "left bottom"
        },
        {
          "label": "Bottom center",
          "value": "center bottom"
        },
        {
          "label": "Bottom right",
          "value": "right bottom"
        }
      ]
    },
    {
      "type": "url",
      "id": "image_link",
      "label": "Image link"
    },
    {
      "type": "checkbox",
      "id": "parallax",
      "label": "Parallax effect",
      "default": false
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "checkbox",
      "id": "content_in_container",
      "label": "Content in container box",
      "default": false
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "Content position",
      "default": "center middle",
      "options": [
        {
          "label": "Top left",
          "value": "left top"
        },
        {
          "label": "Top center",
          "value": "center top"
        },
        {
          "label": "Top right",
          "value": "right top"
        },
        {
          "label": "Middle left",
          "value": "left middle"
        },
        {
          "label": "Middle center",
          "value": "center middle"
        },
        {
          "label": "Middle right",
          "value": "right middle"
        },
        {
          "label": "Bottom left",
          "value": "left bottom"
        },
        {
          "label": "Bottom center",
          "value": "center bottom"
        },
        {
          "label": "Bottom right",
          "value": "right bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "d-text_alignment",
      "label": "Content alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Text size",
      "default": "medium",
      "options": [
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        }
      ]
    },
    {
      "type": "select",
      "id": "d-text-color",
      "label": "Desktop Text color",
      "options": [
        {
          "label": "Dark",
          "value": "dark"
        },
        {
          "label": "Light",
          "value": "white"
        }
      ],
      "default": "white"
    },
       {
      "type": "select",
      "id": "m-text_color",
      "label": "Mobile Text color",
      "options": [
        {
          "label": "Dark",
          "value": "dark"
        },
        {
          "label": "Light",
          "value": "white"
        }
      ],
      "default": "white"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Heading",
      "default": "Image with text overlay"
    },
   {
      "type": "range",
      "id": "Heading-font_size",
      "label": "Font Size",
      "default": 16,
      "min": 12,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
      {
      "type": "range",
      "id": "m-heading-font_size",
      "label": "Mobile Font Size",
      "default": 16,
      "min": 12,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subheading",
      "placeholder": "New Arrivals"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "options": [
        {
          "value": "m-button--primary",
          "label": "Primary button"
        },
        {
          "value": "m-button--secondary",
          "label": "Secondary button"
        },
        {
          "value": "m-button--white",
          "label": "White button"
        },
        {
          "value": "m-button--link",
          "label": "Underline button"
        }
      ],
      "default": "m-button--primary"
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "Button size",
      "options": [
        {
          "value": "m-button--small",
          "label": "Button small"
        },
        {
          "value": "",
          "label": "Button medium"
        },
        {
          "value": "m-button--large",
          "label": "Button large"
        }
      ],
      "default": ""
    },
    {
      "type": "header",
      "content": "Mobile settings"
    },
    {
      "type": "select",
      "id": "text_alignment_mobile",
      "label": "Content alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "mb_image",
      "label": "Image"
    },
    {
      "type": "checkbox",
      "id": "use_content_above",
      "label": "Use content above image",
      "default": false
    },
    {
      "type": "header",
      "content": "Advanced settings"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom classes"
    },
    {
      "type": "header",
      "content": "Animations"
    },
    {
      "type": "select",
      "id": "animations",
      "label": "Visible in the view animation",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "Inherit global setting"
        },
        {
          "value": "fade-in",
          "label": "Fade in"
        },
        {
          "value": "fade-in-up",
          "label": "Fade in up"
        },
        {
          "value": "fade-in-left",
          "label": "Fade in left"
        },
        {
          "value": "fade-in-right",
          "label": "Fade in right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_bg_zoom_effect",
      "label": "Enable background zoom effect",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Image with text overlay",
      "category": "Image"
    }
  ]
}
{% endschema %}






