{%- style -%}
  .m-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px; 
    padding-bottom : {{ section.settings.padding_bottom }}px;
    background-color: {{ section.settings.background_color }};
  }
{%- endstyle -%}


<div class="container container-v1 rich-text m-section-{{ section.id }}">
  <div class="grid">
      {% if section.settings.rich_icon_svg != blank %}
      	<div class="elementor-icon">{{section.settings.rich_icon_svg}}</div>
      {% endif %}
    
      {% if section.settings.section_title != blank %}
        <div class="rich-text__heading--{{ section.settings.text_size }} text-center">
          <h2 class="heading-title">{{ section.settings.section_title  }}</h2>
        </div>
      {% endif %}

    
 {% if section.settings.rich_text != blank %}
      <dv class="sub-desc"> {{ section.settings.rich_text }}</dv>
 {% endif %}
    
  </div>
</div>



{% schema %}
{
  "name": {
    "en": "Rich text"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
      {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "textarea",
      "id": "rich_icon_svg",
      "label": "Icon Svg"
    },
    
    {
      "type": "text",
      "id": "section_title",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "Talk about your brand"
      }
    },
        {
      "type": "richtext",
      "id": "rich_text",
      "label": "Description"
    },
  ],
  "presets": [
    {
      "name": {
        "en": "Rich text"
      },
      "category": {
        "en": "Text"
      }
    }
  ]
}
{% endschema %}
