{%- style -%}
  .m-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px; 
    padding-bottom : {{ section.settings.padding_bottom }}px;
    background-color: {{ section.settings.background_color }};
  }
  @media (min-width:768px){ .section-blog-v1 h1 { line-height: 60px !important; } }
{%- endstyle -%}

<style>
  .see-more-blog-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
  .section-blog-v1 .slick-dots {
    padding-top: 0px ; 
  }
</style>

<div class="m-section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="section-blog-v1" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %} {% if section.settings.sections_layout == "dark" %}background: {{section.settings.sections_bg_color}};{% endif %}">
  <div class="section-blog-v1 " >
    <div class="container container-v1">
	
      {% if section.settings.section_title != blank %}
      <div class="text-center ">    
        {% if canonical_url contains '/blog-1' %}
          <h1 class="title_heading mb-0" >{{section.settings.section_title}}</h1>
        {% else %}
          <h3 class="title_heading mb-0" >{{section.settings.section_title}}</h3>            
        {% endif %}
      </div>
      {% endif %}
      
    <div class="row js-blog-v1 content-blog-v1">
          {%- assign posts_limit = section.settings.blogs_limit -%}
          {%- assign blog_selected = section.settings.select_blog -%}
          {% if section.settings.select_blog != blank %}
          {% for article in blogs[blog_selected].articles limit: posts_limit %}
          <div class="col-12">
            <div class="content-section-blog-v1">
              <div class="picrure">
                <a href="{{ article.url }}" class="image_url">
                  <img src="{{ article.image.src | img_url: 'original' }}" alt="{{ article.title  }}" class="lazyloaded img-fluid">
                </a>
				{% if section.settings.enable_date %}
                <div class="date">
                  <span class="day">{{article.published_at | date: " %d" }}</span>
                  <span class="month">{{article.published_at | date: "%b" }}</span>
                </div>
				{% endif %}
              </div>

              <div class="info_blog">
                {% if section.settings.enable_category %}
                <a class="blog_cate" href="{{blogs[blog_selected].url}}">{{blogs[blog_selected].title}}</a>
                {% endif %}
                {% if section.settings.enable_title %}
                <h4 class="mb-0 title-blog"><a href="{{ article.url }}">{{ article.title  }}</a></h4>
                {% endif %}
				{% if section.settings.enable_excerpt %}
                <p class="content mb-0">
                  {{ article.content | strip_html | truncatewords: 22 }}
                </p>
				{% endif %}
                
                {% if section.settings.ena_btn_readmore %}
                <div class="btn_readmore text-center">
                  <a class="" href="{{article.url}}" aria-label="Read more from here about this">{{section.settings.text_btn}}</a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>                
          {% endfor %}
          {% else %}
          {% for i in (1..3) %}
          <div class="col-12">
            <div class="content-section-blog-v1">
              <div class="picrure">
                <a href="/admin/articles" class="image_url">
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                </a>
                <div class="date">
                  <span class="day">{{ 'now' | date: " %d" }}</span>
                  <span class="month">{{ 'now' | date: "%b" }}</span>
                </div>
              </div>
              <div class="info_blog">
                <h4 class="mb-0 title-blog"><a href="/admin/articles">Example Blog Post</a></h4>
                <p class="content mb-0">
                  Rapidiously monetize resource sucking main tainable catalysts for change. Conveniently productivate researched action items via go...
                </p>
                <div class="btn_readmore text-center">
                  <a class="" href="">Readmore</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %} 
          {% endif %}
          
       </div>
      
    </div>
  </div>

  {% if section.settings.see-btn-link != blank %}
  <div class="see-more-blog-btn-wrapper">
         <a class="button-main1" href="{{ section.settings.see-btn-link }}">{{ section.settings.see-more-btn-text }}</a>
  </div>
  {% endif %}

  
</div>
{% schema %}
{
  "name": "BLOG V1",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
      {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "rgba(0,0,0,0)"
    },

    {
      "type": "url",
      "id": "see-btn-link",
      "label": "see more btn link"
    },
    {
      "type": "text",
      "id": "see-more-btn-text",
      "label": "see more btn text"
    },
	{
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
	{
      "type": "header",
      "content": "Settings Blog"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Title",
      "default": "INSPIRATION"
    },
    {
      "type": "header",
      "content": "Setting Blog"
    },
    {
      "type": "blog",
      "id": "select_blog",
      "label": "Select Blog"
    },
    {
      "type": "header",
      "content": "Info Blogs"
    },
    {
      "type": "range",
      "id": "blogs_limit",
      "label": "Limit blogs",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 3
    },
	{
      "type": "checkbox",
      "id": "enable_category",
      "label": "Show Category",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_date",
      "label": "Show Date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_title",
      "label": "Show Title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_excerpt",
      "label": "Show Excerpt",
      "default": true
    },
	{
      "type": "checkbox",
      "id": "ena_btn_readmore",
      "label": "Show Button",
      "default": true
    },
	{
      "type": "text",
      "id": "text_btn",
      "label": "Text Button",
      "default": "Readmore"
    }
    

  ],
  "presets": [
    {
      "name": "BLOG V1",
      "category": "HOME"
    }
  ]
}
{% endschema %}

